
::ng-deep .mdc-slider {
    --mdc-slider-handle-color: #5CAC0E;
    --mdc-slider-active-track-color: #5CAC0E;
    --mdc-slider-inactive-track-color: #CDE9C3;
    --mdc-slider-focus-handle-color: #4da10b;
    --mdc-slider-hover-handle-color: #4da10b;
    --mdc-slider-pressed-handle-color: #388e0c;
}
