<div class="sm:col-span-6 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
    <div class="text-lg font-medium tracking-tight leading-6 truncate">Liste des Investisseurs</div>
    <div class="flex flex-col flex-auto mt-2 overflow-x-auto">
        <table
            class="min-w-240 overflow-y-visible"
            mat-table
            [dataSource]="data">

            <ng-container matColumnDef="ref">
                <th mat-header-cell *matHeaderCellDef>Référence</th>
                <td mat-cell *matCellDef="let investor">
                    {{ investor.ref }}
                </td>
            </ng-container>

            <ng-container matColumnDef="investorName">
                <th mat-header-cell *matHeaderCellDef>Nom</th>
                <td mat-cell *matCellDef="let investor">
                    {{ investor.investorName }}
                </td>
            </ng-container>

            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef>Montant</th>
                <td mat-cell *matCellDef="let investor">
                    {{ investor.amount | number:'1.0-0' }} €
                </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let investor">
                    {{ investor.description }}
                </td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Date</th>
                <td mat-cell *matCellDef="let investor">
                    {{ investor.date | date: 'short' }}
                </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let investor">
                    {{ investor.email }}
                </td>
            </ng-container>

            <ng-container matColumnDef="typeId">
                <th mat-header-cell *matHeaderCellDef>Type ID</th>
                <td mat-cell *matCellDef="let investor">
                    {{ investor.typeId }}
                </td>
            </ng-container>

<!--            <ng-container matColumnDef="actions">-->
<!--                <th mat-header-cell *matHeaderCellDef>Actions</th>-->
<!--                <td mat-cell *matCellDef="let investor">-->
<!--                    <div class="flex items-center gap-1">-->
<!--                        <button mat-icon-button>-->
<!--                            <mat-icon>description</mat-icon>-->
<!--                        </button>-->

<!--                    </div>-->
<!--                </td>-->
<!--            </ng-container>-->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let investor">
                    <div class="flex items-center gap-1">
                        <!-- Trigger button -->
                        <button mat-icon-button [matMenuTriggerFor]="exportMenu" (click)="$event.stopPropagation()">
                            <mat-icon>more_vert</mat-icon>
                        </button>

                        <!-- Menu -->
                        <mat-menu #exportMenu="matMenu">
                            <button mat-menu-item (click)="exportAsCSV()">
                                <mat-icon>table_view</mat-icon>
                                <span>Exporter CSV</span>
                            </button>
                            <button mat-menu-item (click)="exportAsExcel()">
                                <mat-icon>grid_on</mat-icon>
                                <span>Exporter Excel</span>
                            </button>
                            <button mat-menu-item (click)="exportAsPDF()">
                                <mat-icon>picture_as_pdf</mat-icon>
                                <span>Exporter PDF</span>
                            </button>
                        </mat-menu>
                    </div>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr   class="cursor-pointer hover:bg-gray-50" mat-row *matRowDef="let row; columns: columns;" (click)="openInvestorDetails(row)"></tr>
        </table>
    </div>
</div>
